/*universal styles  */
body {
  font-size: 16px;
}

h1, h3 {
  font-family: "Libre Franklin";
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

p, a, span {
  font-family: "Libre Baskerville";
}

/* header section css  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  height: 4rem;
}

.logo {
  display: flex;
}

h1.academy {
  color: lightgrey;
  font-weight: normal;
}

.nav span {
  padding-left: 1rem;
}

/* second section css  */

.second.section {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
}

.second.section img {
  padding: 2rem 1.5rem;
  width: 60%;
}

.textsecond {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
}

.textsecond h1, .textsecond h3 {
  color: DimGray;
}

.textsecond h3 {
  font-weight: bold;
  font-family: "Libre Baskerville";
}

.startbutton {
  background-color: DimGray;
  color: white;
  text-align: center;
  padding: .5rem 0;
  font-family: "Libre Baskerville";
  font-weight: 400;
}

.third.section {
  display: flex;
  padding: 2rem 0 2rem 0rem;
}

.practicing {
  width: 60%;
  padding: 0 1.5rem 0 1.5rem;
}

.practicing h1 {
  margin: 2rem 0rem;
}

.practicing h3, .practicing p {
  font-size: .90rem;
  line-height: 1.3rem;
}

.practicing img {
  display: block;
  width: 100%;
}


.practicingright {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.smallimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallimage img {
  width: 35%;
  height: auto;
  display: block;
  margin: auto;
  padding: 1rem;
}

.textcontent {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.smallimage.guest {
  background-color: lightgrey;
}

.thesisvideo video {
  max-width: 100%;
}

/*start of 6 boxes section  */

.startlearning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: ghostwhite;
}

.startlearning h1 {
  padding-top: 2rem;
}

.startlearningimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem 3rem;
}

.smallbox {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 1.5rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallbox img {
  display: block;
  height: auto;
  width: 100%;
}

.smallbox h3, .smallbox p {
  margin-left: 1rem;
}

.smallbox h3 {
  margin-top: 1rem;
}

.smallbox p {
  margin-top: .5rem;
  font-size: .75rem;
}

.smallbox p.bottom {
  margin-bottom: 1.5rem;
}
